CMakeFiles/
CMakeCache.txt
*.vcxproj
*.vcxproj.filters
*.log
*.cmake
*.csproj
*.sln

Debug/
Release/
x64/
obj/
out/

.idea/

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
